main {
  max-width: 768px;
  width: 100vw;

  padding-top: 20px;
}

#main-title {
  font-size: 32px;
}

#form-import-customers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: min-content;
  padding: 10px 0;
}

#form-import-customers label {
  text-align: left;
  cursor: pointer;

  background-color: #166534;
  color: #FFFFFF;

  width: 200px;
  padding: 10px;
}

#form-import-customers input[type="file"] {
  display: none;
}

#form-import-customers span {
  margin-left: 10px;
  color: #15803d;
}

#form-import-customers button {
  width: 200px;
  padding: 10px;

  border: none;
  background-color: #166534;
  color: #FFFFFF;

  transition: 0.5s;

  font-size: 16px;

}

#form-import-customers button:disabled {
  display: none;
}

#form-import-customers button:enabled:hover {
  cursor: pointer;
  background-color: #166534c5;
}

#customers-list {
  margin-top: 40px;
  width: 100%;
}

#customers-list th,
#customers-list td {
  padding: 5px;
  border: 1px solid #000;
}

#customers-list th {
  background-color: #166534;
  color: white;
}

#customers-list td {
  font-weight: 400;
  font-size: 16px;
}

#customers-list td.center {
  text-align: center;
}

#customers-list td a {
  color: #15803d;
  text-decoration: none;
}

#customers-list td a:hover {
  text-decoration: underline;
}