/* Visualizar Cliente */
#container-customer-infos {
  display: grid;
  grid-template-columns: auto auto auto;
}

#container-customer-infos div {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

#container-customer-infos div input {
  height: 20px;
  padding: 5px;
  border: 1px solid black;
}

#container-customer-orders,
#container-customer-emails {
  margin-top: 20px;
}

/* Envair E-mail */
#form-send-email {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  width: 100vw;
  max-width: 840px;
}

#form-send-email #inputs {
  display: flex;
  flex-direction: column;
}

#form-send-email #inputs div {
  display: flex;
  flex-direction: column;
}

#form-send-email #inputs div input {
  margin-top: 5px;

  width: 100%;
  padding: 5px;
  border: 2px solid black;

  margin-bottom: 15px;
}

#form-send-email #inputs div textarea {
  resize: none;
  width: 100%;
  padding: 5px;
  border: 2px solid black;
}

#form-send-email #buttons {
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 840px;

  margin-bottom: 20px;
}

#form-send-email #buttons button {
  background-color: #15803d;
  color: #FFFFFF;
  border: none;

  font-size: 14px;
  font-weight: 700;

  width: 200px;
  padding: 10px 0;
  margin: 0 10px;
}

#form-send-email #buttons button:hover {
  cursor: pointer;
  background-color: #166534c5;
}